<?xml version="1.0"?>
<launch>
 
<!-- 
  <include file="$(find sick_tim)/launch/sick_tim571_2050101.launch">
  </include>
 -->

<!-- 
  <include file="$(find video_stream_opencv)/launch/rtsp_stream_undercarriage.launch">
  </include>
 -->

  <include file="$(find app)/launch/rtsp_stream_steering.launch">
  </include>
  <include file="$(find app)/launch/rtsp_stream_underbody.launch">
  </include>

<!--
  <node name="socketcan_bridge_can0" pkg="socketcan_bridge" type="socketcan_bridge_node" respawn="false" output="screen" ns="can0">
      <param name="can_device" type="string" value="can0" />
  </node>

  <node name="socketcan_bridge_can1" pkg="socketcan_bridge" type="socketcan_bridge_node" respawn="false" output="screen" ns="can1">
      <param name="can_device" type="string" value="can1" />
  </node>

  <node name="socketcan_bridge_can2" pkg="socketcan_bridge" type="socketcan_bridge_node" respawn="false" output="screen" ns="can2">
      <param name="can_device" type="string" value="can2" />
  </node>
 -->

</launch>
