{
    "vel" : [0.0, 100.0],
    "slip" : [0, 100],
    "cvt" : [0, 100],
    "rpm" : [0, 100],
    "throttle" : [0, 100],
    "load" : [0, 100],
    "temp" : [0, 100],
    "oil" : [0, 100],
    "susp" : [0, 100],
    "ballast" : ["Off",
    "lbrake" : [0, 100],
    "rbrake" : [0, 100],
    "hours" : [0.0, 1000.0],
    "bat" : [0.0, 24.0],
    "user" : "guest",
    "lock" : false
}
